<div class="container-fluid px-4">

    <div class="mt-4 card mb-4">

        <div class="card-header">
            <h2 class="m-2">Estoque</h1>
                <hr>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadastroEstoque">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                    <span class="text">Lançamento Produto</span>
                </button>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#importarquivo">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-file-import"></i>
                    </span>
                    <span class="text">Import em lotes</span>
                </button>
                <a href="{{ url_for('gerar_relatorio', dbase = request.endpoint) }}"
                    class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-file-csv"></i>
                    </span>
                    <span class="text">Gerar Relatório</span>
                </a>
        </div>

        <div class="card-body table-responsive">
            <table class="table table-striped" id="EstoqueTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Tipo Unidade</th>
                        <th class="text-start">Qtd Estoque</th>
                        <th data-sortable="false">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if database %}
                    {% for item in database %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome_epi }}</td>
                        <td>{{ item.tipo_qtd }}</td>
                        <td class="text-start">{{ item.qtd_estoque }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm  mb-2 open-pdf"
                                name="{{ item.filename}}"
                                data-pdf-url="{{ url_for('serve_pdf', index = item.id, md = request.endpoint, _external=True, _scheme='https') }}"><span
                                    class="icon text-white-50">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </span>
                                <span cl<span class="text">Ver PDF</span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Tipo Unidade</th>
                        <th class="text-start">Qtd Estoque</th>
                        <th>Ações</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {% include 'pages/forms/estoque/cadastro.html' %}
    {% include 'includes/show_pdf_copy.html' %}
    <div id="results">

    </div>
</div>