<div class="container-fluid px-4">
  <div class="card mt-4 mb-4">
    <div class="card-header">
      <h2 class="text">
        Dashboard
      </h2>
      <hr>
    </div>
    <div class="card-body bg-secondary bg-opacity-25">
      <h4>Registros {{ month }}/{{ year }}</h4>
      <hr>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card bg-success text-white mb-4">
            <div class="card-header">
              <h4>EPI's Liberadas</h4>
            </div>
            <div class="card-body">
              {% if total_saidas == 0 %}
              <h3 class="text">Sem registro</h3>
              {% else %}
              <h3 class="text">{{ total_saidas }}</h3>
              {% endif %}
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="{{ url_for('epi.Cautelas') }}">Ver Detalhes</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
            <div class="card-header">
              <h4>Saídas - Total</h4>
            </div>
            <div class="card-body">
              <h3 class="text">- {{ format_currency_brl(valor_total) }}</h3>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="{{ url_for('epi.Cautelas') }}">Ver Detalhes</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4">
            <div class="card-header">
              <h4 class="text">Entradas Qtd.</h4>
            </div>
            <div class="card-body">
              <h3 class="text">{{ total_entradas }}</h3>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="{{ url_for('epi.Entradas') }}">Ver Detalhes</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-secondary text-white mb-4">
            <div class="card-header">
              <h4 class="text">Entradas - Total</h4>
            </div>
            <div class="card-body">
              <h3 class="text">{{ format_currency_brl(valor_totalEntradas) }}</h3>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
              <a class="small text-white stretched-link" href="{{ url_for('epi.Entradas') }}">Ver Detalhes</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              <span class="text">Saídas EPI - <span class="text fw-bold">Por Funcionário</span></span>
            </div>
            <div class="card-body">
              <canvas id="ChartFuncionario" width="100%" height="40"></canvas>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-bar me-1"></i>
              <span class="text">Saídas EPI - <span class="text fw-bold">Por Equipamento</span></span>
            </div>
            <div class="card-body">
              <canvas id="ChartDiaSemana" width="100%" height="40"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Tabela de Saídas EPI's
        </div>
        <div class="card-body table-responsive">
          <table class="table table-striped" id="DashboardTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Produtos</th>
                <th>Funcionário</th>
                <th>Data Saída</th>
                <th data-sortable="false">Cautela</th>
              </tr>
            </thead>
            {# <tbody>
              {% if database %}
              {% for item in database %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome_epis.replace('"', '') }}</td>
                <td>{{ item.funcionario }}</td>
                <td>{{ item.data_solicitacao.strftime("%d/%m/%Y") }}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm  mb-2 open-pdf" name="{{ item.filename}}"
                    data-pdf-url="{{ url_for('serve_pdf', index = item.id, md = request.endpoint, _external=True, _scheme='https') }}"><span
                      class="icon text-white-50">
                      <i class="fa-solid fa-file-pdf"></i>
                    </span>
                    <span cl<span class="text">Ver PDF</span>
                  </button>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody> #}
            <tfoot>
              <tr>
                <th>#</th>
                <th>Produtos</th>
                <th>Funcionário</th>
                <th>Data Saída</th>
                <th>Cautela</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'includes/show_pdf_copy.html' %}