{% if url != ""%}
<script>
    $('#EmissãoCautela').modal('hide');
</script>
<div class="modal fade" id="modal-pdf" tabindex="-1" aria-labelledby="EmissãoCautelaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="m-0 font-weight-bold text-primary">Cautela</h4>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="pdfFrame" src="{{ url }}" frameborder="0" class="w-100" style="height: 80vh;" content_type></iframe>
            </div>
        </div>

    </div>
</div>

<script>
    $('#modal-pdf').modal('show');
</script>

{% else %}

<script>
    $('#EmissãoCautela').modal('hide');
</script>

{% with messages = get_flashed_messages() %}
{% if messages %}
<script>$('#modalMessage').modal('show');</script>
{% endif %}
{% endwith %}

{% endif %}
