<div class="modal fade" id="CreateGroup" tabindex="-1" aria-labelledby="CreateGroupLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="m-0 font-weight-bold text-primary">Criar Grupo</h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="cautela-form" action="{{ url_for('create_group') }}", method="post">
                    {{ form.hidden_tag() }}
                    <div class="row g-3">
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                {{form.nome.label(for="nome", class="form-label")}}
                                {{form.nome(class="form-control", id="nome")}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{form.users.label(for="users", class="form-label")}}
                                {{form.users(id="users", class="form-control")}}
                            </div>
                        </div>
                        <div class="col-12 mb-3"">
                            <div class="form-group">
                                {{form.paginas.label(for="paginas", class="form-label")}}
                                {{form.paginas(id="paginas", class="form-control")}}
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-group">
                                {{form.permissions.label(for="permissions", class="form-label")}}
                                {{form.permissions(id="permissions", class="form-control")}}
                            </div>
                        </div>
                        <div class="col-12">
                            <ul id="entregas-table" class="list-group">
                            </ul>
                        </div>
                        <div class="col-12 m-1">
                            <hr>
                            <button type="button" id="addEpiButton" class="btn btn-outline-warning" hx-post="{{ url_for('add_group') }}"
                                hx-trigger="click" hx-target="#entregas-table">Adicionar</button>
                            <button type="button" id="addEpiButton" class="btn btn-outline-danger" hx-post="/remove-itens"
                                hx-trigger="click" hx-target="#entregas-table">Limpar
                                Lista</button>
                            <hr>
                        </div>
                    </div>
                    <div class="card-footer d-grid gap-2">
                        {{ form.submit( class="btn btn-outline-success text-uppercase" ) }}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>