<div class="container-fluid px-4" id="scrollHere" >
    <div class="mt-4 card mb-4">
        <div class="card-header">
            <h2 class="m-2">Configurações de Permissões</h1>
        </div>

        <div class="card-body bg-secondary bg-opacity-25">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-table"></i>
                            Tabela de Páginas
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped" id="CautelasTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Página</th>
                                        <th data-sortable="false">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if database %}
                                    {% for item in database %}

                                    {% if item.endpoint == "set1"%}
                                    <tr class="bg-secondary">
                                        <td class="text-white fw-bold">. . .</td>
                                        <td class="text-white fw-bold">{{ item.displayName }}</td>
                                        <td class="text-white fw-bold">. . .</td>
                                    </tr>
                                    {% elif item.endpoint == "set2"  %}
                                    <tr class="bg-secondary">
                                        <td class="text-white fw-bold">. . .</td>
                                        <td class="text-white fw-bold">{{ item.displayName }}</td>
                                        <td class="text-white fw-bold">. . .</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.displayName }}</td>
                                        <td>
                                        <button type="button" id="EditEstoqueButton" class="btn btn-warning btn-sm mb-2"
                                            hx-get="{{ url_for('SetEditPerms', endpoints = request.endpoint, item = item.displayName) }}"
                                            hx-target="#setEditForm">
                                            <span class="icon text-white-50">
                                                <i class="fa-solid fa-pen"></i>
                                            </span>
                                            <span class="text">Editar</span>
                                        </button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Página</th>
                                        <th>Ações</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    

                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-brands fa-wpforms"></i>
                            Editar Configurações

                        </div>
                        <div class="card-body" id="setEditForm" onchange="ScrollToDiv(this)">

                            <p>Selecione um dos itens para editar</p>

                        </div>
                    </div>

                    
                </div>
            </div>



        </div>
    </div>

</div>