<div class="container-fluid px-4">
  <div class="mt-4 card mb-4">
    <div class="card-header">
      <h2 class="m-2 p-1">{{ title }}</h2>
      <hr>
      <a type="button" class="btn btn-icon-split btn-success me-2" href="{{ url_for('estoque.emitir_cautela') }}">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-pdf"></i>
        </span>
        <span class="text">Emitir Cautela</span>
      </a>
      <a href="{{ url_for('index.gerar_relatorio') }}" class="btn btn-primary me-2 btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped" id="CautelasTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Funcionário</th>
            <th>Data Saída</th>
            <th data-sortable="false">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            {% set nome_epis = item.nome_epis_ | map(attribute='nome_epi') | join(' - ') %}
            {% if not nome_epis %}
            {% if "," in item.nome_epis %}
            {% set nome_epis = item.nome_epis.split(",") | join(' - ') | replace('"', '') %}
            {% else %}
            {% set nome_epis = item.nome_epis | replace('"', '') %}
            {% endif %}
            {% endif %}
            <td>
              <span class="d-inline-block text-truncate" style="max-width: 350px;">
                {{ nome_epis }}
              </span>
            </td>
            <td>
              <span class="d-inline-block text-truncate" style="max-width: 350px;">
                {{ item.funcionario }}
              </span>
            </td>
            <td>{{ item.data_solicitacao.strftime("%d/%m/%Y") }}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm btn-icon-split mb-2 open-pdf"
                name="{{ item.filename }}" data-pdf-url="{{ url_for('estoque.cautela_pdf', uuid_pasta=item.id) }}">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-file-pdf"></i>
                </span>
                <span class="text">Ver PDF</span>
              </button>
              {# <button type="button" class="btn btn-secondary btn-sm btn-icon-split mb-2 open-pdf"
                name="{{ item.filename }}" data-pdf-url="{{ url_for('estoque.cautela_pdf', uuid_pasta=item.id) }}">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-xmark"></i>
                </span>
                <span class="text">Cancelar Cautela</span>
              </button> #}
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Funcionário</th>
            <th>Data Saída</th>
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  {% include 'includes/modal_pdf.html' %}
  {% if url %}
  {% include 'includes/show_modal_pdf.html'   %}
  {% endif %}
</div>
