<div class="container px-4">
  <div class="mt-4 card mb-4">
    <div class="card-header">
      <h2 class="m-2 p-1">{{ title }}</h2>
      <hr>
      <a type="button" class="btn btn-success me-2 mb-1 btn-icon-split"
        href="{{ url_for('epi.cadastro_equipamento') }}">
        <span class="icon text-white-50">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span class="text">Cadastrar</span>
      </a>
      <button type="button" class="btn btn-secondary me-2 mb-1 btn-icon-split" data-bs-toggle="modal"
        data-bs-target="#importarquivo">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-import"></i>
        </span>
        <span class="text">Import em lotes</span>
      </button>
      <a href="{{ url_for('index.gerar_relatorio', dbase=request.endpoint.split('.')[-1] ) }}"
        class="btn btn-primary me-2 mb-1 btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped" id="EquipamentosTable">
        <thead>
          <tr role="row">
            <th>#</th>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Marca</th>
            <th data-sortable="false">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nome_epi }}</td>
            <td>{{ item.tipo_epi }}</td>
            <td>{{ format_currency_brl(item.valor_unitario).replace("\\xa", "") }}</td>
            <td>{{ item.marca }}</td>
            <td>
              <a type="button" class="btn btn-secondary btn-icon-split btn-sm m-1"
                href="{{ url_for('epi.editar_equipamento', id=item.id) }}">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-pen"></i>
                </span>
                <span class="text">Editar</span>
              </a>
              <button type="button" id="DeleteEpiButton" class="btn btn-danger btn-icon-split btn-sm m-1"
                hx-post="{{ url_for('epi.deletar_equipamento',id=item.id) }}" hx-trigger="click" hx-target="#results">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-trash"></i>
                </span>
                <span class="text">Deletar</span>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Marca</th>
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="results"></div>
</div>