<div class="container px-4">
  <div class="mt-4 card mb-4">
    <div class="card-header">
      <h2 class="m-2 p-1">{{ title }}</h2>
      <hr>
      {% if session["nome_usuario"] == "Root" %}
      {% set type_ = request.url_rule.endpoint.split(".")[-1].lower() %}
      <button type="button" class="btn btn-secondary me-2 btn-icon-split"
        hx-get="{{ url_for('index.import_lotes',tipo=type_) }}" hx-trigger="click" hx-target="#results">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-import"></i>
        </span>
        <span class="text">Import em lotes</span>
      </button>
      {% endif %}
      <a href="{{ url_for('index.gerar_relatorio', dbase=request.endpoint.split('.')[-1] ) }}"
        class="btn btn-primary me-2 btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped" id="EstoqueTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Tipo Unidade</th>
            <th class="text-start">Qtd Estoque</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nome_epi }}</td>
            <td>{{ item.tipo_qtd }}</td>
            <td class="text-start">{{ item.qtd_estoque }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Tipo Unidade</th>
            <th class="text-start">Qtd Estoque</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>