<div class="container-fluid px-4">
  <div class="mt-4 card mb-4">
    <div class="card-header">
      <h2 class="m-2">Estoque</h2>
      <hr>
      <a type="button" class="btn btn-success me-2" href='{{ url_for("estoque.lancamento_produto") }}'>
        <span class="icon text-white-50">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span class="text">Cadastrar</span>
      </a>
      {% if session["nome_usuario"] == "Root" %}
      <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#importarquivo">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-import"></i>
        </span>
        <span class="text">Import em lotes</span>
      </button>
      {% endif %}
      <a href="{{ url_for('index.gerar_relatorio', dbase=request.endpoint.split('.')[-1] ) }}"
        class="btn btn-primary btn-icon-split me-2">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped" id="EstoqueTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Tipo Unidade</th>
            <th class="text-start">Qtd Estoque</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nome_epi }}</td>
            <td>{{ item.tipo_qtd }}</td>
            <td class="text-start">{{ item.qtd_estoque }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Tipo Unidade</th>
            <th class="text-start">Qtd Estoque</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>