<div class="container-fluid px-4">
    <div class="mt-4 card mb-4">
        <div class="card-header">
            <h2 class="m-2">Grades</h2>
            <hr>
            <button type="button"
                    class="btn btn-success mb-3"
                    data-bs-toggle="modal"
                    data-bs-target="#cadastrogrades">
                <span class="icon text-white-50">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span class="text">Cadastrar</span>
            </button>
            <button type="button"
                    class="btn btn-warning mb-3"
                    data-bs-toggle="modal"
                    data-bs-target="#importarquivo">
                <span class="icon text-white-50">
                    <i class="fa-solid fa-file-import"></i>
                </span>
                <span class="text">Import em lotes</span>
            </button>
            <a href="#!" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fa-solid fa-file-csv"></i>
                </span>
                <span class="text">Gerar Relatório</span>
            </a>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-striped" id="GradeTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Grade</th>
                        <th>Descrição</th>
                        <th data-sortable="false">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if database %}
                        {% for item in database %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.grade }}</td>
                                {% if not item.descricao %}
                                    <td>Sem descrição</td>
                                {% else %}
                                    <td>{{ item.descricao }}</td>
                                {% endif %}
                                <td>
                                    <button type="button"
                                            id="DeleteEstoqueButton"
                                            class="btn btn-danger btn-sm mb-2"
                                            hx-post="{{ url_for('deletar_item', database = request.endpoint, id = item.id) }}"
                                            hx-trigger="click"
                                            hx-target="#results">
                                        <span class="icon text-white-50">
                                            <i class="fa-solid fa-trash"></i>
                                        </span>
                                        <span class="text">Deletar</span>
                                    </button>
                                    <button type="button"
                                            id="EditEstoqueButton"
                                            class="btn btn-warning btn-sm mb-2"
                                            hx-get="{{ url_for('set_editar', tipo = request.endpoint, item = item.id) }}"
                                            hx-target="#results">
                                        <span class="icon text-white-50">
                                            <i class="fa-solid fa-pen"></i>
                                        </span>
                                        <span class="text">Editar</span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Grade</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
