<div class="container-fluid px-4">
  <div class="mt-4 card mb-4">
    <div class="card-header">
      <h2 class="m-2">Marcas</h2>
      <hr>
      <a type="button" class="btn btn-success me-2 mb-1 btn-icon-split" href="{{ url_for("epi.cadastrar_marca") }}">
        <span class="icon text-white-50">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span class="text">Cadastrar</span>
      </a>
      <button type="button" class="btn btn-secondary me-2 mb-1 btn-icon-split" data-bs-toggle="modal"
        data-bs-target="#importarquivo">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-import"></i>
        </span>
        <span class="text">Import em lotes</span>
      </button>
      <a href="{{ url_for('index.gerar_relatorio', dbase=request.endpoint.split('.')[-1] ) }}"
        class="btn btn-primary me-2 mb-1 btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th data-sortable="false">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.marca }}</td>
            {% if not item.descricao %}
            <td>Sem descrição</td>
            {% else %}
            <td>{{ item.descricao }}</td>
            {% endif %}
            <td>
              <a type="button" class="btn btn-warning btn-sm me-2" href="{{ url_for('epi.editar_marca', id=item.id) }}">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-pen"></i>
                </span>
                <span class="text">Editar</span>
              </a>
              <button type="button" id="DeleteEpiButton" class="btn btn-danger btn-sm me-2"
                hx-post="{{ url_for('epi.deletar_marca',id=item.id) }}" hx-trigger="click" hx-target="#results">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-trash"></i>
                </span>
                <span class="text">Deletar</span>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="results"></div>
</div>