<div class="container-fluid px-4">

    <div class="mt-4 card mb-4">

        <div class="card-header">
            <h2 class="m-2">Cautelas</h1>
                <hr>
                <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal"
                    data-bs-target="#EmissãoCautela">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-file-pdf"></i>
                    </span>
                    <span class="text">Emitir Cautela</span>
                </button>
                <a href="#!" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50">
                        <i class="fa-solid fa-file-csv"></i>
                    </span>
                    <span class="text">Gerar Relatório</span>
                </a>
        </div>

        <div class="card-body table-responsive">
            <table class="table table-striped" id="CautelasTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Funcionário</th>
                        <th>Data Saída</th>
                        <th data-sortable="false">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% if database %}
                    {% for item in database %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome_epis.replace('"', '') }}</td>
                        <td>{{ item.funcionario }}</td>
                        <td>{{ item.data_solicitacao.strftime("%d/%m/%Y") }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm  mb-2 open-pdf" name="{{ item.filename}}"
                                data-pdf-url="{{ url_for('serve_pdf', md = request.endpoint, index = item.id, _external=True, _scheme='https') }}"><span
                                    class="icon text-white-50">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </span>
                                <span cl<span class="text">Ver PDF</span></button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Produto</th>
                        <th>Funcionário</th>
                        <th>Data Saída</th>
                        <th>Ações</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {% if form %}

    {% include 'pages/forms/cautelas/emitir.html' %}
    {% endif %}
    {% include 'includes/show_pdf_copy.html' %}
    <div id="render_pdf_cautela">

    </div>
</div>
<div id="results">

</div>