<div class="container px-4">
  <div class="mt-4 card mb-4">
    <div class="card-header">
      <h2 class="m-2 p-1">{{ title }}</h2>
      <hr>
      <a href="{{ url_for('config.cadastro_grupo') }}" class="btn btn-success me-2 btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span class="text">Adicionar Grupo</span>
      </a>
      <a href="{{ url_for('index.gerar_relatorio') }}" class="btn btn-primary me-2 btn-icon-split">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped" id="CautelasTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Membros</th>
            <th>Descrição</th>
            <th data-sortable="false">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name_group }}</td>
            <td>{{ item.members | map(attribute='nome_usuario') | join(' - ') }}</td>
            {% set desc = item.description %}
            {% if not desc %}
            {% set desc = "Sem Descrição" %}
            {% endif %}
            <td>{{ desc }}</td>
            <td>
              <a href="{{ url_for('config.editar_grupo', id = item.id) }}"
                class="btn btn-secondary btn-icon-split btn-sm m-1" onclick="showLoad()">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-pen"></i>
                </span>
                <span class="text">Editar</span>
              </a>

              <button type="button" id="DeleteEstoqueButton" class="btn btn-danger btn-icon-split btn-sm m-1" hx-post=""
                hx-trigger="click" hx-target="#results">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-trash"></i>
                </span>
                <span class="text">Deletar</span>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Membros</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="results"></div>
</div>