<div class="modal fade"
     id="ExibirPDF"
     tabindex="-1"
     aria-labelledby="ExibirPDFLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="m-0 font-weight-bold text-primary">Visualizar PDF</h4>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id="pdfFrame" src="{{ url }}" frameborder="0" class="w-100 pdf-frame"></iframe>
            </div>
        </div>
    </div>
</div>
