<div class="container-fluid px-4">
  <div class="card mt-4 mb-4">
    <div class="card-header">
      <h2>Departamentos</h2>
      <hr>
      <a type="button" class="btn btn-success me-2" href="{{ url_for('corp.cadastro_funcionarios') }}">
        <span class="icon text-white-50">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span class="text">Cadastrar</span>
      </a>
      <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#importarquivo">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-import"></i>
        </span>
        <span class="text">Import em lotes</span>
      </button>
      <a href="#!" class="btn btn-primary btn-icon-split me-2">
        <span class="icon text-white-50">
          <i class="fa-solid fa-file-csv"></i>
        </span>
        <span class="text">Gerar Relatório</span>
      </a>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped" id="DepartamentosTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Departamento</th>
            <th>Descrição</th>
            <th data-sortable="false">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if database %}
          {% for item in database %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.departamento }}</td>
            <td>{{ item.descricao }}</td>
            <td>
              <a type="button" class="btn btn-warning btn-sm me-2"
                href="{{ url_for('corp.editar_funcionarios', id=item.id) }}">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-pen"></i>
                </span>
                <span class="text">Editar</span>
              </a>
              <button type="button" id="DeleteEpiButton" class="btn btn-danger btn-sm me-2"
                hx-post="{{ url_for('corp.deletar_funcionarios',id=item.id) }}" hx-trigger="click" hx-target="#results">
                <span class="icon text-white-50">
                  <i class="fa-solid fa-trash"></i>
                </span>
                <span class="text">Deletar</span>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Departamento</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="results"></div>
</div>