<div class="container px-4">
    <div class="mt-4 card mb-4">
        <div class="card-header">
            <h2 class="m-2">{{ endpoint }} - {{ act }}</h2>
            <hr>
        </div>
        <div class="card-body table-responsive">
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="row">
                    {% for field in form %}
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                {{ field.label(class="form-label") }}
                                {{ field(class="form-control", id=field.id, **{"data-placeholder": field.label.text}) }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="footer">
                        <div class="d-grid gap-2">{{ form.submit(class="btn btn-success form-control", onclick="showLoad()") }}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
